* {
  box-sizing: border-box;
}

:before, :after {
  box-sizing: border-box;
}

:root {
  --admin-theme-color: #007cba;
  --admin-theme-color-darker-10: #006ba1;
  --admin-theme-color-darker-20: #005a87;
}

::selection {
  color: #FFF;
}

::selection {
  background: #2d6ff7;
}

a:hover, .nav_menu>div>ul li a:hover, .stats-text, .user-area .user-content>.user-inner h4>a, .nav_menu ul li.current_page_item>a, .post-author, .post-meta a,.user-login-click > ul li a:hover{
  color: #2d6ff7;
}

a.sidenav-active {
  color: #2d6ff7 !important;
}

.stats-text {
  display: block;
  margin-bottom: 5px;
}

.widget .user-notifications.user-profile-area>div>ul>li {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: none;
}

body, input[type="search"], .wpqa_form label, input[type="text"], input[type="password"], .wpqa_form .lost-password, input[type="email"], .widget .widget-wrap .stats-inner li .stats-text, .widget .user-notifications>div>ul li a, .widget .user-notifications>div>ul li a, .users-widget .user-section-small .user-data ul li, .badge-span, .post-meta, .article-question .post-meta, .article-question .footer-meta li,.user-notifications > div > ul li span.notifications-date {
  font-family: "Open Sans", sans-serif;
}

body, .queswer-content, .main-content {
  background-color: #f2f2f2;
}

.nav_menu>div>ul li a, .widget-title, .widget-title-tabs .tabs li.current a, .menu-tabs>ul>li.active-tab>a, .menu-tabs>ul>li>a:hover,.user-login-click > ul li a {
  color: #26333b;
}

.menu-tabs>ul>li.active-tab>a:before, .menu-tabs>ul>li>a:hover:before {
  background-color: #26333b;
}

.background-cover, .header, .panel-pop>i, .panel-image-opacity, .panel-pop-content, .wpqa_error, .wpqa_form input:not([type="checkbox"]):not([type="radio"]):not(.ed_button):not(.wpqa_captcha), .wpqa_form input[type="submit"], .widget_ask .button-default, .user-notifications.user-profile-area>div, .user-notifications.user-profile-area>div, .col12, .menu-tabs>ul>li>a:before, .question-footer,.notifications-click,.user-click {
  width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], .question-vote li a, .vote_result, .footer-meta li i,.user-notifications > div > ul li i {
  color: #677075;
}

.header, .panel-image-content .button-default,a.meta-answer,.go-up:hover {
  background-color: #272930;
}

.stats-value, .user-notifications>div>ul li span, .widget-posts .user-notifications>div>ul li div h3 a {
  color: #272930;
}

input[type="text"], input[type="password"], input[type="email"] {
  height: 40px;
  font-size: 13px;
  padding: 11px;
  margin-bottom: 20px;
}

.wrap-pop {
  background: rgba(39, 41, 48, .95);
}

.sidebar .widget.widget-no-divider, .widget.tabs-wrap.widget-tabs {
  background-color: #f9f9f9;
}

.wpqa_form {
  position: relative;
}

h3 {
  font-size: 25px;
  line-height: 36px;
}

.wpqa_error, .taglist .tag a.delete:before, .wpqa_form .required, .delete-account a {
  color: #F00;
}

.wpqa_error {
  background: #fcc;
}

.wpqa_error, .wpqa_success {
  display: none;
  padding: 10px 13px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

.wpqa_form p, .wpqa_form .wpqa_category, .wpqa_textarea, .answers-form .form-input, .the-title-div {
  position: relative;
}

.wpqa_error_desktop, .wpqa_error.wpqa_error_register, .wpqa_error.wpqa_error_login {
  display: block;
}

.wpqa_form label {
  font-size: 12px;
}

.wpqa_form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not(.ed_button) {
  padding-left: 30px;
}

nav.nav ul li.current_page_item a, nav.nav ul li.current-menu-item a, nav.nav ul li a:hover, nav.nav ul li:hover>a {
  background-color: #1a1c21;
}

.button-default, .button-default-2, input[type="search"], nav.nav ul li a, .pop-border-radius, .pop-border-radius .panel-pop-content, .wpqa_error, input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .stats-inner li, .user-not-normal .user-area, .load-more a, .question-footer, .footer-meta li,a.meta-answer,.go-up,.user-login-click > i {
  border-radius: 2px;
}

.button-default, .button-default-2:hover, .panel-image-opacity, .panel-image-content .button-default:hover, .stats-inner li:before, .load-more a:hover,a.meta-answer:hover,.go-up {
  background-color: #2d6ff7;
}

.user-login span {
  color: #707885;
}
.widget-title-tabs .tabs li, .widget-posts .user-notifications.user-profile-area>div>ul>li:last-child, .users-widget .user-section-small .user-data ul li, .widget li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.loader_2, .author-image-span {
  border-color: #2d6ff7 !important;
}

.loader_2, .fa-spin {
  animation: fa-spin 2s infinite linear;
}

.loader_2 {
  margin-top: 7px;
}

.pagination-wrap.pagination-question {
  margin-top: 0;
}

.button-default:hover, .button-default-2, .load-more a,.user-login-click > i {
  background-color: #7c7f85;
}

.header-search input, .wpqa_form label, .widget-posts .user-notifications>div>ul li a, .widget-posts .user-notifications>div>ul li a, .user-data ul li, .user-data ul li a, .menu-tabs>ul>li>a, .post-meta, .footer-meta li, .footer-meta li a,.user-notifications > i,.user-notifications > div > ul li span.notifications-date {
  color: #7c7f85;
}

.header-search input, .wpqa_form p input, .wpqa_form .form-submit, .widget-title-tabs .tabs li, .user-notifications>div>ul li:last-child, .widget li:last-child, .widget-posts .user-notifications.user-profile-area>div>ul>li:last-child, .user-section-small .user-data ul li:last-child,.user-notifications > div > ul li:last-child,.user-login-click > ul li:last-child{
  margin-bottom: 0;
}

.mgb0 {
  margin-bottom: 0 !important;
}

.button-default, .button-default-2, nav.nav ul li a, .author-image-span, .menu-tabs>ul>li.active-tab>a:before, .load-more a,a.meta-answer {
  transition: border .20s linear, color .20s linear, background-color .20s linear;
}

.button-default, .button-default-2, .header-search button i, nav.nav ul li a, nav.nav ul li.current_page_item a, nav.nav ul li.current-menu-item a, .panel-pop>i, .panel-image-inner h3, .panel-image-inner p, .badge-span, .load-more a,a.meta-answer,.go-up,.user-login div,.user-login-click > i {
  color: #FFF !important;
}

.panel-pop-content, input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .queswer-main-inner, .hide-main-inner, .inner-sidebar, .widget-no-divider .stats-inner li, .widget-title-tabs .tabs li.current:before, .widget-title-tabs .tabs li.current a, .widget.tabs-wrap.widget-tabs .widget-wrap, .footer-meta li,.user-notifications > div,.user-login-click > ul {
  background-color: #FFF;
}

.button-default, .button-default-2, .search-click, .header-search button, .panel-pop>i, .wpqa_form label, .wpqa_form .rememberme, .wpqa_checkbox input[type="checkbox"],.go-up,.notifications-click,.user-click {
  cursor: pointer;
}

input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .stats-inner li, .widget-title-tabs .tabs li a,.user-login-click > ul {
  border: 1px solid #e1e3e3;
}

h1, h2, h3, h4, h5, .button-default, .button-default-2, nav.nav ul li, .panel-image-inner p, .nav_menu>div>ul li a, .widget li, .stats-value, .widget-title, .widget-posts .user-notifications>div>ul li div h3 a, .menu-tabs>ul>li>a, .load-more a, .post-author, .vote_result, .question-content-text,a.meta-answer {
  font-family: "Roboto", Arial, sans-serif;
}

.user-notifications>div>ul li .span-icon, .author-image-span, .author-image img,.user-image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.user-section-small .user-area, .user-section-small .user-data ul, .question-articles .article-post header, .question-articles .post-meta, .question-articles .article-post footer {
  text-align: left !important;
}

p {
  margin: 0 0 20px 0;
}

.float_r {
  float: right;
}

.float_l {
  float: left;
}

@media (min-width: 1200px) {
  .queswer-container, .the-main-container {
    width: 1170px;
  }
}

body {
  margin: 0;
  color: #707885;
  line-height: 22px;
  font-size: 13px;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 700;
}

.background-cover, .panel-image-opacity {
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}

.hidden-header, .logo, .user-login-area {
  height: 85px;
}

.hidden-header {
  position: relative;
  z-index: 5;
}

.header {
  line-height: 85px;
  height: 85px;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  overflow: hidden;
  position: absolute !important;
  width: 0;
}

.queswer-container, .the-main-container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.queswer-container::before, .the-main-container::before, .the-main-container::after, .queswer-container::after, .clearfix:before, .clearfix:after, .row::before, .row::after {
  content: " ";
  display: table;
}

.the-main-container::after, .queswer-container::after, .clearfix:after, .row::after {
  clear: both;
}

.wrap-not-login.right-header {
  overflow: hidden;
  padding-right: 10px;
  padding-left: 20px;
}

.right-header {
  border-left: 1px solid #33353c;
  border-right: 1px solid #33353c;
  width: 23%;
  width: 269px;
  height: 85px;
  padding-right: 20px;
  padding-left: 10px;
}

.left-header {
  width: 76%;
  width: 890px;
}

.button-sign-in, .button-sign-up {
  margin-right: calc(7% + 2px);
  width: 44%;
  text-align: center;
  padding: 7px 16px;
  white-space: pre;
}

.button-sign-up {
  margin-right: 0;
}

.button-default {
  text-transform: capitalize;
}

.button-default, .button-default-2, .button-default-3, .button-default-4 {
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  line-height: normal;
  border: none;
  letter-spacing: 0.8px;
}

.button-default, .button-default-2, .button-default-3, .button-default-4, input[type=search], input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"] {
  appearance: none;
}

a, .ask-box-question {
  text-decoration: none;
  transition: color .15s ease-in;
  color: #272930;
}

.logo {
  border-right: 1px solid #33353c;
  padding-right: 30px;
  width: 201px;
}

.logo img {
  max-width: 170px;
}

.wpqa_form p i {
  color: #999;
}

.wpqa_form p i {
  position: absolute;
  left: 10px;
  top: 36px;
  font-size: 15px;
}

.default_screen {
  display: inline-block;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

.mid-header {
  width: 77%;
  width: 685px;
  position: relative;
}

.header-search form {
  position: relative;
}

.search-wrapper {
  position: relative;
}

.header-search input[type="search"] {
  font-size: 12px;
  font-style: italic;
  border: none;
  background-color: #202228;
  width: 230px;
  display: inline-block;
  height: 29px;
  padding: 0 0 0 10px;
}

.search-click {
  position: absolute;
  top: 22px;
  right: -5px;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.header-search button {
  background: transparent;
  border: none;
  padding: 0;
  padding-left: 18px;
  margin-top: 32px;
  float: right;
  position: absolute;
  top: 0;
  right: 5px;
}

.header-search button i {
  font-size: 19px;
  margin: 0 5px 0 0;
  transition: all 0.3s ease-in-out;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: entypo;
  font-style: normal;
  display: inline-block;
  text-align: center;
  line-height: normal;
}

nav.nav {
  width: 430px;
  padding-left: 20px;
  height: 85px;
}

nav.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.nav ul li {
  float: left;
  margin-right: 10px;
  position: relative;
}

nav.nav ul li a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 8px 7px;
  margin-top: 27px;
  display: inline-block;
}

#wrap {
  position: relative;
  z-index: 1;
}

.wrap-pop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
}

.wpqa_form .rememberme {
  float: left;
  font-size: 12px;
  margin-bottom: 20px;
}

.wpqa_checkbox input[type="checkbox"], .wpqa_radio input[type="radio"] {
  margin: 0;
  margin-right: 10px;
  height: 17px;
  width: 17px;
  line-height: 17px;
  position: relative;
  top: 3px;
  float: left;
  vertical-align: baseline;
}

.wpqa_checkbox input[type="checkbox"]:checked::before, .wpqa_radio input[type="radio"]:checked::before {
  font-family: "entypo";
  content: "\2714";
  font-size: 14px;
  height: 17px;
  display: block;
  position: relative;
  top: 0;
  text-align: center;
}

.wpqa_form .lost-password, .wpqa_form .lost-password-login {
  float: right;
  margin-bottom: 20px;
  font-size: 12px;
}

.wpqa_form .form-submit {
  clear: both;
  float: none;
}

.load_span {
  text-align: center;
  display: none;
  height: 39px;
}

.loader_2, .loader_3, .loader_4 {
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-right-color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
}

.widget_ask .button-default, .wpqa_form input[type="submit"] {
  padding: 11px 12px 12px;
  text-align: center;
  letter-spacing: 0.8px;
}

main.queswer-main-wrap, main.all-main-wrap {
  position: relative;
  z-index: 3;
  float: right;
  width: 82.9%;
  width: 970px;
  background-color: #f2f2f2;
}

.queswer-main-inner {
  position: relative;
  z-index: 2;
  width: 71.4%;
  width: 691px;
  float: left;
  padding: 28px 30px 30px;
  min-height: 600px;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
  word-wrap: break-word;
}

.hide-main-inner {
  position: absolute;
  width: 691px;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
  -moz-box-shadow: 0 5px 5px #edeeee;
  -webkit-box-shadow: 0 5px 5px #edeeee;
  box-shadow: 0 5px 5px #edeeee;
}

.side-nav-bar, .main-content, .side-info-bar {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
}

.side-nav-bar {
  position: sticky !important;
  top: 0;
}

nav.nav_menu, div.nav_menu, div.nav_menu_sidebar {
  width: 14.5%;
  width: 170px;
  float: left;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.side-bar {
  padding-top: 0px;
  padding-bottom: 1px;
  position: static;
  top: 0px;
}

.nav_menu>ul, .nav_menu>div>ul {
  margin: 0;
  padding: 0 0 10px;
}

.nav_menu>ul li, .nav_menu>div>ul li {
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}

.nav_menu>ul li a, .nav_menu>div>ul li a {
  font-size: 14px;
  font-weight: 700;
}

aside.sidebar {
  float: right;
  width: 28.6%;
  width: 279px;
}

.inner-sidebar {
  width: 97%;
  height: 100%;
  width: 269px;
  padding-top: 18px;
  position: relative;
  float: right;
  z-index: 1;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
}

.widget_ask.widget {
  padding-bottom: 20px;
}

.sidebar .widget, .nav_menu .widget {
  border-bottom: 2px solid #e1e3e3;
}

.widget {
  padding: 0 20px 30px 18px;
  margin-bottom: 30px;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget li {
  list-style: none;
  border-bottom: 1px solid #e4e6e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.stats-inner, .user-notifications > div > ul li div {
  overflow: hidden;
}

.sidebar .widget.widget-no-divider, .nav_menu .widget.widget-no-divider {
  padding-top: 20px;
  border-bottom: none;
  margin: -30px 0 0;
  padding-bottom: 20px;
}

.stats-inner li, .widget .stats-inner li:last-child {
  float: left;
  width: 50%;
  padding: 12px 15px;
  margin: 0;
  text-align: center;
  position: relative;
  height: 75px;
  font-size: 12px;
}

.stats-inner li:before, .cat-sections:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 45px;
  width: 2px;
}

.stats-inner li:nth-child(2n+2):before {
  left: initial;
  right: 0;
}

.stats-value {
  font-size: 25px;
  font-weight: 700;
  display: block;
}

.stats-answers .stats-text {
  color: #f05555;
}

.stats-best_answers .stats-text {
  color: #1fae5b;
}

.widget.tabs-wrap.widget-tabs {
  margin-top: -30px;
  padding-top: 30px;
}

.widget-title-tabs {
  margin: 0 -20px 0 -19px;
  padding: 0 20px;
}

.widget-title {
  font-size: 14px;
  line-height: 23px;
}

.widget-title-tabs .tabs {
  float: left;
  position: relative;
  bottom: -1px;
}

.widget-title-tabs .tabs li, .answers-tabs-inner li {
  float: left;
  position: relative;
}

.widget-title-tabs .tabs li:before, .answers-tabs-inner li:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 0;
  background-color: #e1e3e3;
}

.widget-title-tabs .tabs li:first-child a, .answers-tabs-inner li:first-child a {
  border-left: 1px solid #e1e3e3 !important;
}

.widget-title-tabs, .widget-posts .user-notifications.user-profile-area>div>ul>li, .profile-area>div>ul>li,.user-notifications > div {
  border-bottom: 1px solid #e1e3e3;
}

.widget-title-tabs .tabs li a, .answers-tabs-inner li a {
  float: left;
  border-bottom: none;
  border-left: none !important;
  padding: 10px;
  font-size: 13px;
}

.widget.tabs-wrap.widget-tabs .widget-wrap {
  margin: 0 -20px -30px -18px;
  padding: 20px 20px 30px 18px;
}

.user-notifications.user-profile-area>div {
  position: static;
  display: block;
  border-bottom: none;
  box-shadow: none;
  margin: 0;
  background: transparent;
}

.user-login-click>ul, .user-notifications>div {
  position: absolute;
  z-index: 4;
  -webkit-box-shadow: 0 1px 5px 0 #d0d2d3;
  -moz-box-shadow: 0 1px 5px 0 #d0d2d3;
  box-shadow: 0 1px 5px 0 #d0d2d3;
  top: 100%;
  left: 0;
  width: 210px;
  margin: 0;
  padding: 20px 25px;
  display: none;
}

.user-notifications.user-profile-area>div>ul {
  padding: 0;
}

.user-notifications>div>ul {
  margin: 0;
  padding: 20px;
  padding-right: 15px;
}

.user-notifications.user-profile-area, .user-notifications.user-profile-area.section-page-div {
  margin: 0;
  padding: 0;
  border: none;
}

.user-notifications {
  line-height: normal;
  margin-top: 32px;
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #33353c;
}

.user-notifications>div {
  left: inherit;
  right: -26px;
  width: 267px;
  margin-top: 31px;
  padding: 0 !important;
}

.user-login-click, .user-notifications {
  position: relative;
}

.user-notifications.user-profile-area>div {
  position: static;
  display: block;
  border-bottom: none;
  box-shadow: none;
  margin: 0;
  background: transparent;
}

.user-notifications>div {
  left: inherit;
  right: -26px;
  width: 267px;
  margin-top: 31px;
  padding: 0;
}

.user-login-click>ul, .user-notifications>div {
  position: absolute;
  z-index: 4;
  box-shadow: 0 1px 5px 0 #d0d2d3;
  top: 100%;
  left: 0;
  width: 210px;
  margin: 0;
  padding: 20px 25px;
  display: none;
}

.user-notifications.user-profile-area>div>ul {
  padding: 0;
}

.user-notifications>div>ul {
  margin: 0;
  padding: 20px;
  padding-right: 15px;
}

.widget-posts .user-notifications.user-profile-area>div>ul>li, .related-widget .user-notifications.user-profile-area>div>ul>li {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.user-notifications.user-profile-area>div>ul>li {
  margin: 0 -30px 20px;
  padding: 0 30px 20px;
}

.user-notifications>div>a, .user-notifications>div>ul li, .user-follower>ul>li>div span, .user-notifications>div>ul li,.user-notifications > div > ul li {
  color: #656c77;
}

.widget .user-notifications>div>ul li .span-icon {
  margin-top: 4px;
}

.widget .user-notifications>div>ul li i, .widget .user-notifications>div>ul li .span-icon {
  margin-right: 15px;
}

.user-notifications>div>ul li .span-icon, .user-notifications>div>ul li div {
  overflow: hidden;
}

.user-notifications>div>ul li i, .user-notifications>div>ul li .span-icon {
  float: left;
  font-size: 20px;
  margin-right: 15px;
  width: 20px;
}

.widget .user-notifications>div>ul li .span-icon img {
  display: block;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

.user-notifications>div>ul li div {
  line-height: 18px;
}

.user-notifications>div>ul li .span-icon, .user-notifications>div>ul li div {
  overflow: hidden;
}

.widget-posts .user-notifications>div>ul li div h3, .related-widget .user-notifications>div>ul li div h3 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 7px;
}

.widget-post-meta {
  overflow: hidden;
  margin-bottom: 5px;
}

.user-notifications>div>ul li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}

.widget-post-meta li {
  padding-bottom: 0 !important;
  border-bottom: none !important;
  margin-bottom: 0 !important;
}

.widget-post-meta li {
  float: left;
}

.widget-post-meta li:after {
  content: "/";
  margin: 0 5px;
}

.widget-post-meta li:last-child:after {
  content: "";
}

.widget-post-meta li .post-meta-comment {
  display: inline-block;
}

.widget-title i {
  margin-right: 15px;
  font-weight: normal;
  font-size: 19px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col, .col20, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  position: relative;
  min-height: 1px;
  float: left;
}

.user-section-small .user-area {
  padding: 15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.user-not-normal .user-area {
  padding: 20px;
  margin: 0 0 30px;
  overflow: hidden;
}

.widget.users-widget .post-section.user-area {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border: none;
}

.user-area, .category-description {
  text-align: center;
}

.user-not-normal .author-image, .user-head-area {
  margin-bottom: 15px;
}

.user-section-small .author-image, .user-section-simple_follow .author-image {
  float: left;
  margin: 0 20px 0 0;
}

.author-image {
  position: relative;
}

.author-image-span {
  border: 2px solid #FFF;
}

.author-image-span {
  display: inline-block;
  overflow: hidden;
}

.author-image img {
  border: 3px solid #FFF;
}

.user-section-small .user-content, .user-section-simple_follow .user-content {
  overflow: hidden;
}

.user-area .user-content>.user-inner h4, .category-description>h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.user-not-normal .user-area .user-content>.user-inner h4 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 2px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

.users-widget .user-section-small .user-data ul {
  overflow: hidden;
}

.user-data ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.user-section-small .user-data ul li {
  display: block;
  margin: 0 0 8px;
}

.users-widget .user-section-small .user-data ul li {
  float: left;
  margin: 0 10px 0 0;
}

.user-data ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
}

.users-widget .user-section-small .user-data ul li:last-child {
  margin-right: 0;
}

.users-widget .user-area .user-content>.user-inner .badge-span {
  margin: 10px 0 0;
}

.user-area .user-content>.user-inner .badge-span {
  margin-bottom: 20px;
}

.badge-span {
  font-size: 11px;
  padding: 1px 4px 2px;
  line-height: 15px;
  display: inline-block;
  text-transform: capitalize;
}

.test1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav_menu>div>ul li a i {
  margin-right: 10px;
  font-size: 20px;
  font-weight: normal;
  float: left;
}

.menu-tabs {
  position: relative;
  z-index: 3;
}

.active-menu .menu.flex, .menu.flex:hover {
  overflow: inherit;
}

.menu.flex {
  overflow: hidden;
  height: 51px;
}

.active-menu .menu.flex {
  height: auto;
}

.menu-tabs>ul, .inner-tabs {
  margin: 0 -30px 30px;
  padding: 0 30px 30px;
}

.menu-tabs>ul {
  border-bottom: 2px solid #e1e3e3;
  padding: 0 30px;
  position: relative;
  z-index: 2;
}

.menu-tabs>ul>li {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  list-style: none;
  position: relative;
}

.menu-tabs>ul>li>a {
  display: block;
  padding-bottom: 27px;
  position: relative;
}

.menu-tabs>ul>li>a:before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.pagination-nav.posts-load-more, .pagination-nav.posts-infinite-scroll {
  text-align: center;
}

.pagination-nav, .page-navigation, .main-pagination, .pagination-question .no-comments {
  margin-top: 30px;
}

.posts-load-more .load_span {
  height: 30px;
}

.load_span {
  text-align: center;
  display: none;
  height: 39px;
}

.pagination-nav.posts-load-more .loader_2, .pagination-nav.posts-infinite-scroll .loader_2 {
  height: 27px;
  width: 27px;
  border-width: 3px;
}

.load-more a {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  display: block;
  letter-spacing: 0.8px;
  padding: 9px;
}

.question-articles .article-post {
  margin: 0 -30px 30px;
  padding: 0 30px 30px;
  border-bottom: 1px solid #e4e6e6;
}

.article-post, .post-comments {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}

.question-image-vote {
  float: left;
  clear: left;
  margin-right: 20px;
}

.author-image, .user-head-area {
  margin-bottom: 15px;
}

.question-answer-before .question-content-first, .question-answer-before .question-content-second, .question-answer-before .question-header {
  overflow: inherit;
  width: calc(100% - 66px);
  float: left;
}

.question-content-first, .question-content-second, .question-header {
  overflow: hidden;
}

.question-header .post-author, .question-header .question-author-un {
  float: left;
  margin-right: 10px;
}

.post-author, .question-author-un {
  font-size: 14px;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.question-content .post-meta {
  margin-bottom: 5px;
  overflow: hidden;
}

.post-meta {
  font-size: 11px;
  margin-bottom: 10px;
}

.question-content .post-meta>span {
  margin-right: 15px;
  float: left;
}

.question-content .badge-span {
  margin-right: 15px;
  margin-left: 5px;
  float: left;
  margin-top: 3px;
}

.question-content .post-meta>span:after {
  content: "";
}

.question-content .post-meta>span:last-child {
  margin-right: 0;
}

.question-top-bar {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-image-vote {
  float: left;
  clear: left;
  margin-right: 20px;
}

.question-not-mobile .question-vote {
  width: 46px;
  margin-top: -4px;
}

.question-vote {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

.question-vote li a {
  font-size: 26px;
}

.li_loader {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  height: 22px;
  display: none;
  margin-top: 6px;
}

.vote_result {
  font-size: 20px;
  font-weight: 700;
}

.question-content-text {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 24px;
}

.article-post footer {
  line-height: 15px;
}

.question-footer {
  background-color: #f5f5f5;
  clear: both;
  float: left;
  padding: 15px;
}

.footer-meta {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-meta li {
  float: left;
  margin-right: 10px;
  border: 1px solid #d9dadb;
  font-size: 12px;
  padding: 6px 10px;
}

.footer-meta li i {
  font-size: 15px;
  margin-right: 7px;
}

.queswer_hide, .wpqa_hide, .wpqa_error_mobile {
  display: none;
}

.footer-meta span {
  font-weight: 600;
}

.footer-meta li {
  display: flex;
  align-items: flex-start;
}
a.meta-answer {
  float: right;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 13px;
  letter-spacing: 0.8px;
}
.go-up, .ask-button {
  position: fixed;
  width: 40px;
  height: 40px;
  right: -60px;
  bottom: 20px;
  text-align: center;
  z-index: 9999;
  transition: 0.1s ease-in-out 0s;
}
.go-up i, .ask-button {
  line-height: 40px;
  font-size: 15px;
  font-weight: 700;
}
.go-up:hover, .ask-button:hover {
  bottom: 25px;
}
.user-notifications {
  line-height: normal;
  margin-top: 32px;
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #33353c;
}
.notifications-click {
  padding: 20px;
  margin-top: -10px;
}
.user-click, .notifications-click {
  position: absolute;
  background: transparent;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.user-notifications>i {
  font-size: 20px;
}
.user-notifications>div {
  left: inherit;
  right: -26px;
  width: 267px;
  margin-top: 31px;
  padding: 0;
}
.user-notifications>div>ul {
  margin: 0;
  padding: 20px;
  padding-right: 15px;
}
.user-notifications > div > ul li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}
.user-notifications > div > ul li i, .user-notifications > div > ul li .span-icon {
  float: left;
  font-size: 20px;
  margin-right: 15px;
  width: 20px;
}
.user-notifications > div > ul li div {
  line-height: 18px;
}
.user-notifications > div > ul li span.notifications-date {
  display: block;
  font-size: 11px;
  margin-top: 5px;
}
.user-login-click {
  display: flex;
  align-items: center;
}
.user-image {
  margin-right: 10px;
  overflow: hidden;
  width: 29px;
  position: relative;
}
.user-login {
  width: 120px;
  line-height: 20px;
  overflow: hidden;
}
.user-login span {
  font-size: 11px;
  font-weight: 600;
}
.user-login div {
  font-size: 14px;
  font-weight: 700;
  white-space: pre-line;
}
.user-login-click>i {
  width: 14px;
  height: 14px;
  font-size: 14px;
  font-weight: 700;
}
.user-login-click>ul {
  left: 5px;
}
.user-login-click > ul:before {
  position: absolute;
  top: -8px;
  right: 25px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 9px 10px;
  border-color: transparent transparent #FFF transparent;
  z-index: 2;
}
.user-login-click > ul li {
  list-style: none;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
}
.user-login-click > ul li a {
  font-size: 13px;
  font-weight: 700;
}
.user-login-click > ul li a i {
  margin-right: 10px;
}