* {
  box-sizing: border-box;
}

:before, :after {
  box-sizing: border-box;
}

:root {
  --admin-theme-color: #007cba;
  --admin-theme-color-darker-10: #006ba1;
  --admin-theme-color-darker-20: #005a87;
}

::selection {
  color: #FFF;
}

::selection {
  background: #2d6ff7;
}

a:hover, .nav_menu>div>ul li a:hover, .stats-text, .user-area .user-content>.user-inner h4>a, .nav_menu ul li.current_page_item>a, .post-author, .user-login-click>ul li a:hover, .answers-tabs-inner li a:hover, .commentlist li .comment-text a, .user-questions>div>i, .question-link-list li a:hover, .question-link-list li a:hover i, .user-notifications>div>a:hover {
  color: #2d6ff7;
}

a.sidenav-active {
  color: #2d6ff7 !important;
}

.stats-text {
  display: block;
  margin-bottom: 5px;
}

.widget .user-notifications.user-profile-area>div>ul>li {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: none;
}

body, input[type="search"], .wpqa_form label, input[type="text"], input[type="password"], .wpqa_form .lost-password, input[type="email"], .widget .widget-wrap .stats-inner li .stats-text, .widget .user-notifications>div>ul li a, .widget .user-notifications>div>ul li a, .users-widget .user-section-small .user-data ul li, .badge-span, .post-meta, .article-question .post-meta, .article-question .footer-meta li, .user-notifications>div>ul li span.notifications-date, .breadcrumbs, .points-section ul li p, .badges-section ul li p, .notifications-number {
  font-family: "Open Sans", sans-serif;
}

body, .queswer-content, .main-content {
  background-color: #f2f2f2;
}

.nav_menu>div>ul li a, .widget-title, .widget-title-tabs .tabs li.current a, .menu-tabs>ul>li.active-tab>a, .menu-tabs>ul>li>a:hover, .user-login-click>ul li a, .breadcrumbs, .answers-tabs-inner li.active-tab a, .post-title-3, .user-follower>ul>li h4, .post-title-2 {
  color: #26333b;
}

.menu-tabs>ul>li.active-tab>a:before, .menu-tabs>ul>li>a:hover:before, .user-follower>ul>li h4 i, .page-section .post-title-2>i {
  background-color: #26333b;
}

.background-cover, .header, .panel-pop>i, .panel-image-opacity, .panel-pop-content, .wpqa_error, .wpqa_form input:not([type="checkbox"]):not([type="radio"]):not(.ed_button):not(.wpqa_captcha), .wpqa_form input[type="submit"], .widget_ask .button-default, .user-notifications.user-profile-area>div, .user-notifications.user-profile-area>div, .col12, .menu-tabs>ul>li>a:before, .question-footer, .notifications-click, .user-click, .fakefile, .fakefile button, #submit.button-default, #wpqa-question.panel-pop-content, .styled-select, .styled-select select, .search-input-form input[type="search"], .cover-opacity, .user-stats>ul>li>div, .user-stats>ul>li>div>a, .user-stats>ul>li>div>div span, .user-follower>ul>li>div>a, .user_follow_2, .user-follow-profile a, .center-child, .wpqa_form textarea {
  width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], .question-vote li a, .vote_result, .footer-meta li i, .user-notifications>div>ul li i, ul.question-vote.answer-vote li a, .vote_result, .fakefile button, .styled-select select, input[type="search"], .user-columns-data a i {
  color: #677075;
}

.header, .panel-image-content .button-default, a.meta-answer, .go-up:hover, .fileinputs span, .pagination .page-numbers:hover, .wpqa-cover-background, .cover-opacity {
  background-color: #272930;
}

.question-adv-comments, .user-notifications>div>a {
  border-top: 1px solid #e4e6e6;
}

.widget-post-meta li, .wpqa-cover-content .user-head-area, .wpqa-cover-content .user-area .user-content>.user-inner h4, .wpqa-cover-content .user-area .user-content>.user-inner .badge-span {
  float: left;
}

.stats-value, .user-notifications>div>ul li span, .widget-posts .user-notifications>div>ul li div h3 a, .answers-tabs h3, .comment-respond>h3.section-title, .point-div span, .user-stats>ul>li>div>div span, .user-follower>ul>li>div span span, .post-meta a {
  color: #272930;
}

input[type="text"], input[type="password"], input[type="email"], .fakefile button, input[type="search"], input[type="date"] {
  height: 40px;
  font-size: 13px;
  padding: 11px;
  margin-bottom: 20px;
}

.wpqa-cover-inner, .referral-cover-inner {
  position: relative;
  z-index: 1;
  width: 100%;
}

.wrap-pop, .global-loading {
  background: rgba(39, 41, 48, .95);
}

.sidebar .widget.widget-no-divider, .widget.tabs-wrap.widget-tabs, .answers-tabs, .answers-tabs-inner li a, .user-follower>ul>li>div {
  background-color: #f9f9f9;
}

.wpqa_form {
  position: relative;
}

h3 {
  font-size: 25px;
  line-height: 36px;
}

.wpqa_error, .taglist .tag a.delete:before, .wpqa_form .required, .delete-account a {
  color: #F00;
}

.wpqa_error {
  background: #fcc;
}

.wpqa_error, .wpqa_success {
  display: none;
  padding: 10px 13px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

.wpqa_form p, .wpqa_form .wpqa_category, .wpqa_textarea, .answers-form .form-input, .the-title-div, .wpqa_form span {
  position: relative;
}

.wpqa_error_desktop, .wpqa_error.wpqa_error_register, .wpqa_error.wpqa_error_login {
  display: block;
}

.fileinputs input[type="file"] {
  opacity: 0;
}

.wpqa_form label {
  font-size: 12px;
}

.wpqa_form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not(.ed_button), .wpqa_form .styled-select select {
  padding-left: 35px;
}

.wpqa_form textarea {
  padding-left: 15px;
}

nav.nav ul li.current_page_item a, nav.nav ul li.current-menu-item a, nav.nav ul li a:hover, nav.nav ul li:hover>a {
  background-color: #1a1c21;
}

.button-default, .button-default-2, input[type="search"], nav.nav ul li a, .pop-border-radius, .pop-border-radius .panel-pop-content, .wpqa_error, input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .stats-inner li, .user-not-normal .user-area, .load-more a, .question-footer, .footer-meta li, a.meta-answer, .go-up, .user-login-click>i, .fakefile button, .fileinputs span, .styled-select, .styled-select .arrow_down, input[type="search"], div.search-results, .pagination .page-numbers.current, .points-section ul .point-section, .badges-section ul li, .cover-opacity, .wpqa-cover-buttons, .user-stats>ul>li>div, .user-follower>ul>li>div, .user-follower>ul>li h4 i, .user-columns-data, .user-follow-profile a, .question-navigation a, .page-section .post-title-2>i, .wpqa_radio input[type="radio"], input[type="date"], .wpqa_form textarea, .wpqa-delete-image>span, .alert-message, .notifications-number {
  border-radius: 2px;
}

.button-default, .button-default-2:hover, .panel-image-opacity, .panel-image-content .button-default:hover, .stats-inner li:before, .load-more a:hover, a.meta-answer:hover, .go-up, .fileinputs:hover span, .pagination .page-numbers.current, .user-follow-profile a, .question-navigation a:hover {
  background-color: #2d6ff7;
}

.user-login span {
  color: #707885;
}

.question-articles .article-post, #comments, #respond, .page-template-template-users .article-post, .user-area, .page-section {
  margin: 0 -30px 30px;
  padding: 0 30px 30px;
  border-bottom: 1px solid #e4e6e6;
}

.widget-title-tabs .tabs li, .widget-posts .user-notifications.user-profile-area>div>ul>li:last-child, .users-widget .user-section-small .user-data ul li, .widget li:last-child, .page-template-template-users .article-post, .post-section.user-area.user-advanced {
  padding-bottom: 0;
  border-bottom: none;
}

.loader_2, .author-image-span, .pagination .page-numbers.current, .question-navigation a:hover {
  border-color: #2d6ff7 !important;
}

.wpqa-delete-image>span {
  border-color: #272930 !important;
}

.loader_2, .fa-spin {
  animation: fa-spin 2s infinite linear;
}

.loader_2 {
  margin-top: 7px;
}

.post-img.post-img-0, article.post.post-style-2 .post-img.post-img-0 {
  margin: 0;
}

.pagination-wrap.pagination-question, .header-no-meta .post-img, .user-stats>ul, .user-follower>ul, ul.question-link-list li {
  margin-top: 0;
}

.button-default:hover, .button-default-2, .load-more a, .user-login-click>i, .styled-select .arrow_down, .user-follow-profile a:hover {
  background-color: #7c7f85;
}

.points-section ul li p, .badges-section ul li p, .question-link-list li, .question-link-list li a {
  color: #464e5b;
}

.header-search input, .wpqa_form label, .widget-posts .user-notifications>div>ul li a, .user-data ul li, .user-data ul li a, .menu-tabs>ul>li>a, .post-meta, .footer-meta li, .footer-meta li a, .user-notifications>i, .user-notifications>div>ul li span.notifications-date, .breadcrumbs .current, .answers-tabs-inner li a, .commentlist li.comment .comment-body .comment-text .author .comment-date, .search-form .icon-search, .pagination .page-numbers.current, .point-div, .wpqa-cover-buttons, .user-stats>ul>li>div>div, .user-columns-data a, .question-navigation a {
  color: #7c7f85;
}

.header-search input, .wpqa_form p input, .wpqa_form .form-submit, .widget-title-tabs .tabs li, .user-notifications>div>ul li:last-child, .widget li:last-child, .widget-posts .user-notifications.user-profile-area>div>ul>li:last-child, .user-section-small .user-data ul li:last-child, .user-notifications>div>ul li:last-child, .user-login-click>ul li:last-child, .fakefile button, #respond .form-submit, .breadcrumb-right .search-form input.search-input, .page-template-template-users .article-post, .points-section ul, .points-section:not(.buy-points-section) ul li p, .badges-section ul, .badges-section ul li p, .wpqa-profile .post-section.user-area.user-advanced, .wpqa-cover-content .user-head-area, .user-head-area .author-image, .wpqa-cover-content .user-area .user-content>.user-inner .badge-span, .user-stats>ul, .user-stats>ul>li>div>div h4, .user-follower>ul, .user-columns-data ul li:last-child, .alert-message p, .user-notifications>div>ul li:last-child {
  margin-bottom: 0;
}

.mgb0 {
  margin-bottom: 0 !important;
}

.button-default, .button-default-2, nav.nav ul li a, .author-image-span, .menu-tabs>ul>li.active-tab>a:before, .load-more a, a.meta-answer, .fileinputs span, .styled-select, .styled-select select, .user-follow-profile a {
  transition: border .20s linear, color .20s linear, background-color .20s linear;
}

.button-default, .button-default-2, .header-search button i, nav.nav ul li a, nav.nav ul li.current_page_item a, nav.nav ul li.current-menu-item a, .panel-pop>i, .panel-image-inner h3, .panel-image-inner p, .badge-span, .load-more a, a.meta-answer, .go-up, .user-login div, .user-login-click>i, .fileinputs span, .styled-select .arrow_down, .pagination .page-numbers.current, .pagination .page-numbers:hover, .wpqa-cover-content .user-area .user-content>.user-inner h4>a, .user-follower>ul>li h4 i, .user-follow-profile a, .question-navigation a:hover, .page-section .post-title-2>i, .notifications-number {
  color: #FFF !important;
}

.panel-pop-content, input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .queswer-main-inner, .hide-main-inner, .inner-sidebar, .widget-no-divider .stats-inner li, .widget-title-tabs .tabs li.current:before, .widget-title-tabs .tabs li.current a, .widget.tabs-wrap.widget-tabs .widget-wrap, .footer-meta li, .user-notifications>div, .user-login-click>ul, .answers-tabs-inner li.active-tab:before, .answers-tabs-inner li.active-tab a, .fakefile button, .styled-select, input[type="search"], .search_loader, div.search-results, .search-form .button-search, .pagination .page-numbers, .wpqa-cover-buttons, .user-stats>ul>li>div, .wpqa_radio input[type="radio"], input[type="date"], .wpqa_form textarea, .admin-body, .site-layout-background {
  background-color: #FFF;
}

.button-default, .button-default-2, .search-click, .header-search button, .panel-pop>i, .wpqa_form label, .wpqa_form .rememberme, .wpqa_checkbox input[type="checkbox"], .go-up, .notifications-click, .user-click, a:hover, .fileinputs input[type="file"], .fakefile button, .styled-select select, .search-form .button-search, .wpqa_radio input[type="radio"] {
  cursor: pointer;
}

input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .stats-inner li, .widget-title-tabs .tabs li a, .user-login-click>ul, .answers-tabs-inner li a, .fakefile button, .styled-select, input[type="search"], div.search-results, .user-not-normal .user-area, .points-section ul .point-section, .badges-section ul .badge-section, .user-stats>ul>li>div, .user-follower>ul>li>div, .question-navigation a, .wpqa_radio input[type="radio"], input[type="date"], .wpqa_form textarea {
  border: 1px solid #e1e3e3;
}

h1, h2, h3, h4, h5, .button-default, .button-default-2, nav.nav ul li, .panel-image-inner p, .nav_menu>div>ul li a, .widget li, .stats-value, .widget-title, .widget-posts .user-notifications>div>ul li div h3 a, .menu-tabs>ul>li>a, .load-more a, .post-author, .vote_result, .question-content-text, a.meta-answer, .answers-tabs .section-title, .answers-tabs-inner li, .vote_result, .comment-respond>.section-title, .fileinputs span, .post-content-text, .point-div span, .user-area .bio_editor, .user-stats>ul>li>div>div span, .user-follow-profile, .post-title-2, .alert-message {
  font-family: "Roboto", Arial, sans-serif;
}

.user-notifications>div>ul li .span-icon, .author-image-span, .author-image img, .user-image img, .loader_2, .loader_3, .user-follower>ul>li>div img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.user-section-small .user-area, .user-section-small .user-data ul, .question-articles .article-post header, .question-articles .post-meta, .question-articles .article-post footer {
  text-align: left !important;
}

p {
  margin: 0 0 20px 0;
}

.float_r {
  float: right;
}

.float_l {
  float: left;
}

@media (min-width: 1200px) {
  .queswer-container, .the-main-container {
    width: 1170px;
  }
}

body {
  margin: 0;
  color: #707885;
  line-height: 22px;
  font-size: 13px;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 700;
}

.background-cover, .panel-image-opacity {
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}

.hidden-header, .logo, .user-login-area {
  height: 85px;
}

.hidden-header {
  position: relative;
  z-index: 5;
}

.header {
  line-height: 85px;
  height: 85px;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  overflow: hidden;
  position: absolute !important;
  width: 0;
}

.queswer-container, .the-main-container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.queswer-container::before, .the-main-container::before, .the-main-container::after, .queswer-container::after, .clearfix:before, .clearfix:after, .row::before, .row::after {
  content: " ";
  display: table;
}

.the-main-container::after, .queswer-container::after, .clearfix:after, .row::after {
  clear: both;
}

.wrap-not-login.right-header {
  overflow: hidden;
  padding-right: 10px;
  padding-left: 20px;
}

.right-header {
  border-left: 1px solid #33353c;
  border-right: 1px solid #33353c;
  width: 23%;
  width: 269px;
  height: 85px;
  padding-right: 20px;
  padding-left: 10px;
}

.left-header {
  width: 76%;
  width: 890px;
}

.button-sign-in, .button-sign-up {
  margin-right: calc(7% + 2px);
  width: 44%;
  text-align: center;
  padding: 7px 16px;
  white-space: pre;
}

.button-sign-up {
  margin-right: 0;
}

.button-default {
  text-transform: capitalize;
}

.button-default, .button-default-2, .button-default-3, .button-default-4 {
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  line-height: normal;
  border: none;
  letter-spacing: 0.8px;
}

.button-default, .button-default-2, .button-default-3, .button-default-4, input[type=search], input[type="text"], input[type="password"], .wpqa_checkbox input[type="checkbox"], input[type="email"], .styled-select select, .wpqa_radio input[type="radio"], input[type="date"], .wpqa_form textarea {
  appearance: none;
}

a, .ask-box-question {
  text-decoration: none;
  transition: color .15s ease-in;
  color: #272930;
}

.logo {
  border-right: 1px solid #33353c;
  padding-right: 30px;
  width: 201px;
}

.logo img {
  max-width: 170px;
}

.wpqa_form p i, .wpqa_form .fileinputs i, .wpqa_form .wpqa_category i, .wpqa_form span i {
  color: #999;
}

.wpqa_form p i, .wpqa_form .fileinputs i, .wpqa_form .wpqa_category i, .wpqa_form span i {
  position: absolute;
  left: 10px;
  top: 34px;
  font-size: 15px;
}

.default_screen {
  display: inline-block;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

.mid-header {
  width: 77%;
  width: 685px;
  position: relative;
}

.header-search form {
  position: relative;
}

.search-wrapper {
  position: relative;
}

.header-search input[type="search"] {
  font-size: 12px;
  font-style: italic;
  border: none;
  background-color: #202228;
  width: 230px;
  display: inline-block;
  height: 29px;
  padding: 0 0 0 10px;
}

.search-click {
  position: absolute;
  top: 22px;
  right: -5px;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.header-search button {
  background: transparent;
  border: none;
  padding: 0;
  padding-left: 18px;
  margin-top: 32px;
  float: right;
  position: absolute;
  top: 0;
  right: 5px;
  font-family: Arial;
  line-height: normal;
}

.header-search button i {
  font-size: 19px;
  margin: 0 5px 0 0;
  transition: all 0.3s ease-in-out;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: entypo;
  font-style: normal;
  display: inline-block;
  text-align: center;
  line-height: normal;
}

nav.nav {
  width: 430px;
  padding-left: 20px;
  height: 85px;
}

nav.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.nav ul li {
  float: left;
  margin-right: 10px;
  position: relative;
}

nav.nav ul li a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 8px 7px;
  margin-top: 27px;
  display: inline-block;
}

#wrap {
  position: relative;
  z-index: 1;
}

.wrap-pop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}

.wpqa_form .rememberme {
  float: left;
  font-size: 12px;
  margin-bottom: 20px;
}

.wpqa_checkbox input[type="checkbox"], .wpqa_radio input[type="radio"] {
  margin: 0;
  margin-right: 10px;
  height: 17px;
  width: 17px;
  line-height: 17px;
  position: relative;
  top: 3px;
  float: left;
  vertical-align: baseline;
}

.wpqa_checkbox input[type="checkbox"]:checked::before, .wpqa_radio input[type="radio"]:checked::before {
  font-family: "entypo";
  content: "\2714";
  font-size: 14px;
  height: 17px;
  display: block;
  position: relative;
  top: 0;
  text-align: center;
}

.wpqa_form .lost-password, .wpqa_form .lost-password-login {
  float: right;
  margin-bottom: 20px;
  font-size: 12px;
}

.wpqa_form .form-submit {
  clear: both;
  float: none;
}

.load_span {
  text-align: center;
  display: none;
  height: 39px;
}

.loader_2, .loader_3, .loader_4 {
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-right-color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
}

.widget_ask .button-default, .wpqa_form input[type="submit"] {
  padding: 11px 12px 12px;
  text-align: center;
  letter-spacing: 0.8px;
}

main.queswer-main-wrap, main.all-main-wrap {
  position: relative;
  z-index: 3;
  float: right;
  width: 82.9%;
  width: 970px;
  background-color: #f2f2f2;
}

.queswer-main-inner {
  position: relative;
  z-index: 2;
  width: 71.4%;
  width: 691px;
  float: left;
  padding: 28px 30px 30px;
  min-height: 600px;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
  word-wrap: break-word;
}

.hide-main-inner {
  position: absolute;
  width: 691px;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
  -moz-box-shadow: 0 5px 5px #edeeee;
  -webkit-box-shadow: 0 5px 5px #edeeee;
  box-shadow: 0 5px 5px #edeeee;
}

.side-nav-bar, .main-content, .side-info-bar {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
}

.side-nav-bar {
  position: sticky !important;
  top: 0;
}

nav.nav_menu, div.nav_menu, div.nav_menu_sidebar {
  width: 14.5%;
  width: 170px;
  float: left;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.side-bar {
  padding-top: 0px;
  padding-bottom: 1px;
  position: static;
  top: 0px;
}

.nav_menu>ul, .nav_menu>div>ul {
  margin: 0;
  padding: 0 0 10px;
}

.nav_menu>ul li, .nav_menu>div>ul li {
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}

.nav_menu>ul li a, .nav_menu>div>ul li a {
  font-size: 14px;
  font-weight: 700;
}

aside.sidebar {
  float: right;
  width: 28.6%;
  width: 279px;
}

.inner-sidebar {
  width: 97%;
  height: 100%;
  width: 269px;
  padding-top: 18px;
  position: relative;
  float: right;
  z-index: 1;
  border-left: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
}

.widget_ask.widget {
  padding-bottom: 20px;
}

.sidebar .widget, .nav_menu .widget {
  border-bottom: 2px solid #e1e3e3;
}

.widget {
  padding: 0 20px 30px 18px;
  margin-bottom: 30px;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget li {
  list-style: none;
  border-bottom: 1px solid #e4e6e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.stats-inner, .user-notifications>div>ul li div {
  overflow: hidden;
}

.sidebar .widget.widget-no-divider, .nav_menu .widget.widget-no-divider {
  padding-top: 20px;
  border-bottom: none;
  margin: -30px 0 0;
  padding-bottom: 20px;
}

.stats-inner li, .widget .stats-inner li:last-child {
  float: left;
  width: 50%;
  padding: 12px 15px;
  margin: 0;
  text-align: center;
  position: relative;
  height: 75px;
  font-size: 12px;
}

.stats-inner li:before, .cat-sections:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 45px;
  width: 2px;
}

.stats-inner li:nth-child(2n+2):before {
  left: initial;
  right: 0;
}

.stats-value {
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.stats-answers .stats-text {
  color: #f05555;
}

.stats-best_answers .stats-text {
  color: #1fae5b;
}

.widget.tabs-wrap.widget-tabs {
  margin-top: -30px;
  padding-top: 30px;
}

.widget-title-tabs {
  margin: 0 -20px 0 -19px;
  padding: 0 20px;
}

.widget-title {
  font-size: 14px;
  line-height: 23px;
}

.widget-title-tabs .tabs {
  float: left;
  position: relative;
  bottom: -1px;
}

.widget-title-tabs .tabs li, .answers-tabs-inner li {
  float: left;
  position: relative;
}

.widget-title-tabs .tabs li:before, .answers-tabs-inner li:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 0;
  background-color: #e1e3e3;
}

.widget-title-tabs .tabs li:first-child a, .answers-tabs-inner li:first-child a {
  border-left: 1px solid #e1e3e3 !important;
}

.badge-div {
  border-right: 1px solid #e1e3e3
}

.widget-title-tabs, .widget-posts .user-notifications.user-profile-area>div>ul>li, .profile-area>div>ul>li, .user-notifications>div, .answers-tabs, .user-stats, .user-follower {
  border-bottom: 1px solid #e1e3e3;
}

.answers-tabs, .question-bottom {
  border-top: 1px solid #e1e3e3;
}

.widget-title-tabs .tabs li a, .answers-tabs-inner li a {
  float: left;
  border-bottom: none;
  border-left: none !important;
  padding: 10px;
  font-size: 13px;
}

.widget.tabs-wrap.widget-tabs .widget-wrap {
  margin: 0 -20px -30px -18px;
  padding: 20px 20px 30px 18px;
}

.user-notifications.user-profile-area>div {
  position: static;
  display: block;
  border-bottom: none;
  box-shadow: none;
  margin: 0;
  background: transparent;
}

.user-login-click>ul, .user-notifications>div {
  position: absolute;
  z-index: 4;
  -webkit-box-shadow: 0 1px 5px 0 #d0d2d3;
  -moz-box-shadow: 0 1px 5px 0 #d0d2d3;
  box-shadow: 0 1px 5px 0 #d0d2d3;
  top: 100%;
  left: 0;
  width: 210px;
  margin: 0;
  padding: 20px 25px;
  display: none;
}

.user-notifications.user-profile-area>div>ul {
  padding: 0;
}

.user-notifications>div>ul {
  margin: 0;
  padding: 20px;
  padding-right: 15px;
}

.user-notifications.user-profile-area, .user-notifications.user-profile-area.section-page-div {
  margin: 0;
  padding: 0;
  border: none;
}

.user-notifications {
  line-height: normal;
  margin-top: 32px;
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #33353c;
}

.user-login-click, .user-notifications {
  position: relative;
}

.user-notifications.user-profile-area>div {
  position: static;
  display: block;
  border-bottom: none;
  box-shadow: none;
  margin: 0;
  background: transparent;
}

.user-login-click>ul, .user-notifications>div {
  position: absolute;
  z-index: 4;
  box-shadow: 0 1px 5px 0 #d0d2d3;
  top: 100%;
  left: 0;
  width: 210px;
  margin: 0;
  padding: 20px 25px;
  display: none;
}

.user-notifications.user-profile-area>div>ul {
  padding: 0;
}

.widget-posts .user-notifications.user-profile-area>div>ul>li, .related-widget .user-notifications.user-profile-area>div>ul>li {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.user-notifications.user-profile-area>div>ul>li {
  margin: 0 -30px 20px;
  padding: 0 30px 20px;
}

.user-notifications>div>a, .user-follower>ul>li>div span, .user-notifications>div>ul li, .user-follower>ul>li>div span {
  color: #656c77;
}

.widget .user-notifications>div>ul li .span-icon {
  margin-top: 4px;
}

.widget .user-notifications>div>ul li .span-icon {
  margin-right: 15px;
}

.user-notifications>div>ul li i, .user-notifications>div>ul li .span-icon {
  float: left;
  font-size: 20px;
  margin-right: 15px;
  width: 20px;
}

.widget .user-notifications>div>ul li .span-icon img {
  display: block;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

.widget-posts .user-notifications>div>ul li div h3, .related-widget .user-notifications>div>ul li div h3 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 7px;
}

.widget-post-meta {
  overflow: hidden;
  margin-bottom: 5px;
}

.user-notifications>div>ul li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
}

.user-notifications>div>ul li a{
  display: flex;
  align-items: center;
  color: #656c67;
}
  .widget-post-meta li, .question-articles .question-adv-comments>#respond-all #respond {
    padding-bottom: 0 !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
  }
  .widget-post-meta li:after {
    content: "/";
    margin: 0 5px;
  }
  .widget-post-meta li:last-child:after {
    content: "";
  }
  .widget-post-meta li .post-meta-comment {
    display: inline-block;
  }
  .widget-title i {
    margin-right: 15px;
    font-weight: normal;
    font-size: 19px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col, .col20, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    position: relative;
    min-height: 1px;
    float: left;
  }
  .user-section-small .user-area {
    padding: 15px;
  }
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .widget.users-widget .post-section.user-area {
    padding: 0 0 15px;
    margin: 0 0 15px;
    border: none;
  }
  .user-area, .category-description {
    text-align: center;
  }
  .user-not-normal .author-image, .user-head-area {
    margin-bottom: 15px;
  }
  .user-section-small .author-image, .user-section-simple_follow .author-image {
    float: left;
    margin: 0 20px 0 0;
  }
  .author-image {
    position: relative;
  }
  .author-image-span {
    border: 2px solid #FFF;
  }
  .author-image-span {
    display: inline-block;
    overflow: hidden;
  }
  .author-image img {
    border: 3px solid #FFF;
  }
  .author-image img.question {
    width: 42px;
    height: 42px;
    object-fit: cover;
  }
  .author-image img.admin-table {
    width: 42px;
    height: 42px;
    object-fit: cover;
  }
  .author-image-span img.user-tag, .author-image-span img.user-detail-avatar {
    width: 84px;
    height: 84px;
    object-fit: cover;
  }
  .author-image-span img.edit-profile-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .user-image .header-avatar {
    width: 29px;
    height: 29px;
    object-fit: cover;
  }
  .user-section-small .user-content, .user-section-simple_follow .user-content {
    overflow: hidden;
  }
  .user-area .user-content>.user-inner h4, .category-description>h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .user-not-normal .user-area .user-content>.user-inner h4 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
  }
  .users-widget .user-section-small .user-data ul {
    overflow: hidden;
  }
  .user-data ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .user-section-small .user-data ul li {
    display: block;
    margin: 0 0 8px;
  }
  .users-widget .user-section-small .user-data ul li {
    float: left;
    margin: 0 10px 0 0;
  }
  .user-data ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
  }
  .users-widget .user-section-small .user-data ul li:last-child {
    margin-right: 0;
  }
  .users-widget .user-area .user-content>.user-inner .badge-span {
    margin: 10px 0 0;
  }
  .user-area .user-content>.user-inner .badge-span {
    margin-bottom: 20px;
  }
  .badge-span {
    font-size: 11px;
    padding: 1px 4px 2px;
    line-height: 15px;
    display: inline-block;
    text-transform: capitalize;
  }
  .test1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .nav_menu>div>ul li a i {
    margin-right: 10px;
    font-size: 17px;
    font-weight: normal;
    float: left;
  }
  .menu-tabs {
    position: relative;
    z-index: 3;
  }
  .active-menu .menu.flex, .menu.flex:hover {
    overflow: inherit;
  }
  .menu.flex {
    overflow: hidden;
    height: 51px;
  }
  .active-menu .menu.flex {
    height: auto;
  }
  .menu-tabs>ul, .inner-tabs {
    margin: 0 -30px 30px;
    padding: 0 30px 30px;
  }
  .menu-tabs>ul {
    border-bottom: 2px solid #e1e3e3;
    padding: 0 30px;
    position: relative;
    z-index: 2;
  }
  .menu-tabs>ul>li {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    list-style: none;
    position: relative;
  }
  .menu-tabs>ul>li>a {
    display: block;
    padding-bottom: 27px;
    position: relative;
  }
  .menu-tabs>ul>li>a:before {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  .pagination-nav.posts-load-more, .pagination-nav.posts-infinite-scroll {
    text-align: center;
  }
  .pagination-nav, .page-navigation, .main-pagination, .pagination-question .no-comments {
    margin-top: 30px;
  }
  .posts-load-more .load_span {
    height: 30px;
  }
  .load_span {
    text-align: center;
    display: none;
    height: 39px;
  }
  .pagination-nav.posts-load-more .loader_2, .pagination-nav.posts-infinite-scroll .loader_2 {
    height: 27px;
    width: 27px;
    border-width: 3px;
  }
  .load-more a {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: block;
    letter-spacing: 0.8px;
    padding: 9px;
  }
  .article-post, .post-comments {
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
  }
  .question-image-vote {
    float: left;
    clear: left;
    margin-right: 20px;
  }
  .author-image, .user-head-area {
    margin-bottom: 15px;
  }
  .question-answer-before .question-content-first, .question-answer-before .question-content-second, .question-answer-before .question-header {
    overflow: inherit;
    width: calc(100% - 66px);
    float: left;
  }
  .question-content-first, .question-content-second, .question-header {
    overflow: hidden;
  }
  .question-header .post-author, .question-header .question-author-un {
    float: left;
    margin-right: 10px;
  }
  .post-author, .question-author-un {
    font-size: 14px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.8px;
  }
  .question-content .post-meta {
    padding-top: 7px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
  }
  .post-meta {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .post-meta a {
    font-weight: 600;
  }
  .question-content .post-meta>span {
    margin-right: 15px;
    float: left;
  }
  .question-content .badge-span {
    margin-right: 15px;
    margin-left: 5px;
    float: left;
    margin-top: 3px;
  }
  .question-content .post-meta>span:after {
    content: "";
  }
  .question-content .post-meta>span:last-child {
    margin-right: 0;
  }
  .question-top-bar {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .question-image-vote {
    float: left;
    clear: left;
    margin-right: 20px;
  }
  .question-not-mobile .question-vote {
    width: 46px;
    margin-top: -4px;
  }
  .question-vote {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
  }
  .question-vote li a {
    font-size: 26px;
  }
  .li_loader {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    height: 22px;
    display: none;
    margin-top: 6px;
  }
  .vote_result {
    font-size: 20px;
    font-weight: 700;
  }
  .question-content-text {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 24px;
  }
  .article-post footer, ul.question-vote.answer-vote li i {
    line-height: 15px;
  }
  ul.question-vote.answer-vote li.li_loader, .question-simple.question-meta-vote .question-footer ul.question-vote li.li_loader {
    height: 15px;
  }
  .question-footer {
    background-color: #f5f5f5;
    clear: both;
    float: left;
    padding: 15px;
  }
  .footer-meta {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .footer-meta li {
    float: left;
    margin-right: 10px;
    border: 1px solid #d9dadb;
    font-size: 12px;
    padding: 6px 10px;
  }
  .footer-meta li i {
    font-size: 15px;
    margin-right: 7px;
  }
  .queswer_hide, .wpqa_hide, .wpqa_error_mobile {
    display: none;
  }
  .footer-meta span {
    font-weight: 600;
  }
  .footer-meta li {
    display: flex;
    align-items: flex-start;
  }
  a.meta-answer {
    float: right;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 13px;
    letter-spacing: 0.8px;
  }
  .go-up, .ask-button {
    position: fixed;
    width: 40px;
    height: 40px;
    right: -60px;
    bottom: 20px;
    text-align: center;
    z-index: 9999;
    transition: 0.1s ease-in-out 0s;
  }
  .go-up i, .ask-button {
    line-height: 40px;
    font-size: 15px;
    font-weight: 700;
  }
  .go-up:hover, .ask-button:hover {
    bottom: 25px;
  }
  .user-notifications {
    line-height: normal;
    margin-top: 32px;
    margin-left: 18px;
    padding-left: 18px;
    border-left: 1px solid #33353c;
  }
  .notifications-click {
    padding: 20px;
    margin-top: -10px;
  }
  .user-click, .notifications-click {
    position: absolute;
    background: transparent;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .user-notifications>i {
    font-size: 20px;
  }
  .user-notifications>div {
    left: inherit;
    right: -26px;
    width: 267px;
    margin-top: 26px;
    padding: 0;
  }
  .user-notifications>div>ul li i, .user-notifications>div>ul li .span-icon {
    float: left;
    font-size: 20px;
    margin-right: 15px;
    width: 20px;
  }
  .user-notifications>div>ul li div {
    line-height: 18px;
  }
  .user-notifications>div>ul li span.notifications-date {
    display: block;
    font-size: 11px;
    margin-top: 5px;
  }
  .user-login-click {
    display: flex;
    align-items: center;
  }
  .user-image {
    margin-right: 10px;
    overflow: hidden;
    width: 29px;
    position: relative;
  }
  .user-login {
    width: 120px;
    line-height: 20px;
    overflow: hidden;
  }
  .user-login span {
    font-size: 11px;
    font-weight: 600;
  }
  .user-login div {
    font-size: 14px;
    font-weight: 700;
    white-space: pre-line;
  }
  .user-login-click>i {
    width: 14px;
    height: 14px;
    font-size: 14px;
    font-weight: 700;
  }
  .user-login-click>ul {
    left: 5px;
  }
  .user-login-click>ul:before, .user-notifications>div:before {
    position: absolute;
    top: -8px;
    right: 25px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 9px 10px;
    border-color: transparent transparent #FFF transparent;
    z-index: 2;
  }
  .user-login-click>ul li {
    list-style: none;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
  }
  .user-login-click>ul li a {
    font-size: 13px;
    font-weight: 700;
  }
  .user-login-click>ul li a i {
    margin-right: 10px;
  }
  ul.question-vote.answer-vote li.vote_result, .question-meta-vote .question-footer ul.question-vote li.vote_result {
    font-size: 17px;
    line-height: 15px;
  }
  ul.question-vote.answer-vote li, .question-meta-vote .question-footer ul.question-vote li {
    list-style: none;
    float: left;
    margin: 0 10px 0 0;
    line-height: 0;
    padding: 0;
  }
  .section-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 30px;
  }
  .fileinputs {
    position: relative;
    margin-bottom: 20px;
  }
  .fileinputs input[type="file"] {
    position: relative;
    padding: 11px;
    z-index: 2;
  }
  .fakefile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .fakefile button {
    position: relative;
    text-align: left;
    padding-left: 35px;
  }
  .fileinputs span {
    padding: 2px 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 7px;
    right: 7px;
    letter-spacing: 0.8px;
  }
  .wpqa_form .fileinputs i {
    top: 10px;
    z-index: 2;
    font-size: 18px;
  }
  .tox-statusbar__branding {
    display: none;
  }
  #submit.button-default, .show-answer-form, .question-panel-pop .button-default {
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
  }
  .wpqa_category {
    margin-bottom: 20px;
  }
  .styled-select {
    position: relative;
    float: none;
    clear: right;
    margin-top: 0 !important;
    overflow: hidden;
    display: block;
  }
  .styled-select select {
    background: transparent !important;
  }
  .styled-select select, .widget select {
    border: 0;
    padding: 11px 25px 11px 11px;
    height: 38px;
    outline: none;
    font-size: 13px;
    border: none;
    background: transparent;
    position: relative;
    z-index: 2;
  }
  .styled-select .arrow_down {
    text-align: center;
    line-height: normal;
    display: inline-block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 12px;
    right: 12px;
    font-weight: 700;
    font-size: 14px;
  }
  .tox {
    z-index: 99999 !important;
  }
  .breadcrumb-right, .question-stats {
    float: right;
  }
  .search-form {
    position: relative;
  }
  .search-filter-form select {
    padding-right: 30px;
  }
  .breadcrumb-right .search-input-form {
    position: relative;
  }
  .search-input-form {
    width: 150px;
    float: right;
    margin-left: 10px;
  }
  .breadcrumb-right div.search-results {
    top: 50px;
    left: initial;
    right: -5px;
    width: 280px;
  }
  .search-filter-form {
    float: left;
  }
  .search_loader {
    display: none;
    position: absolute;
    top: 19px;
    right: 20px;
    margin: 0;
  }
  div.search-results {
    position: absolute;
    -webkit-box-shadow: 0 0 5px -1px #d0d2d3;
    -moz-box-shadow: 0 0 5px -1px #d0d2d3;
    box-shadow: 0 0 5px -1px #d0d2d3;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 99999;
    display: none;
  }
  .breadcrumb-right .search-form .button-search {
    top: 3px;
    right: 2px;
  }
  .search-form .button-search {
    position: absolute;
    top: -6px;
    right: 1px;
    background: transparent;
    border: none;
    padding: 8px 5px 6px;
  }
  .search-form .icon-search {
    font-size: 15px;
    font-weight: normal;
  }
  .article-post header, .post-meta, .article-post footer {
    text-align: center;
  }
  .post-img {
    margin: 30px 0;
    position: relative;
  }
  .page-template-template-users .article-post .main-pagination, .page-template-template-categories .article-post .main-pagination, .page-template-template-tags .article-post .main-pagination {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .pagination {
    text-align: right;
  }
  .pagination .page-numbers, .post-pagination>* {
    height: 39px;
    line-height: 37px;
    font-weight: bold;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #e4e6e6;
    overflow: hidden;
    padding: 0 14px;
  }
  .pagination .page-numbers:last-child, .post-pagination>*:last-child {
    margin-right: 0;
  }
  .pagination .page-numbers.next {
    margin-left: 5px;
  }
  .pagination .page-numbers.prev {
    margin-right: 11px;
  }
  .col4 {
    width: 33.33333333%;
  }
  .user-section .user-area {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
  }
  .user-not-normal .user-area {
    padding: 20px;
    margin: 0 0 30px;
    overflow: hidden;
  }
  .user-not-normal.user-section-small_grid .author-image, .user-not-normal.user-section-small_grid .user-area .user-content>.user-inner h4 {
    margin-bottom: 10px;
  }
  .user-section-small_grid .small_loader.loader_2 {
    margin: 7px 0;
  }
  .small_loader.loader_2 {
    margin-top: 0;
    width: 16px;
    height: 16px;
    border-width: 2px;
    vertical-align: middle;
    display: none;
  }
  .page-template-template-badges .page-section {
    padding-bottom: 30px;
  }
  .page-section {
    padding-bottom: 10px;
  }
  .post-title-2, .post-title-3 {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .post-title-3 i {
    margin-right: 15px;
    font-size: 14px;
  }
  .post-title-2 i {
    margin-right: 15px;
    font-size: 17px;
  }
  .post-content-text {
    line-height: 24px;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .points-section ul, .badges-section ul, .tags-sections {
    margin-top: -30px;
  }
  .points-section ul, .badges-section ul {
    padding: 0;
    list-style: none;
  }
  .points-section ul li, .badges-section ul li {
    overflow: hidden;
    margin-top: 30px;
  }
  .points-section ul .point-section, .tag-sections, .cat-sections {
    padding: 15px;
  }
  .points-section .point-div {
    margin-bottom: 10px;
  }
  .point-div {
    font-size: 12px;
  }
  .point-div i {
    font-size: 14px;
    margin-right: 7px;
    color: #ff6935;
  }
  .point-div span {
    font-size: 17px;
    font-weight: 700;
    margin-right: 5px;
  }
  .badge-div {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    width: 25%;
    padding: 15px;
  }
  .badges-section ul li p {
    overflow: hidden;
  }
  .badge-section p {
    padding: 15px;
  }
  .badge-div .badge-span {
    margin-bottom: 10px;
  }
  .wpqa-profile-cover, .referral-cover {
    position: relative;
    z-index: 2;
  }
  .wpqa-cover-background, .referral-cover-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    height: 330px;
    position: relative;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #373940), color-stop(0.5, #494B52));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373940', endColorstr='#494B52', GradientType=0);
    background-image: linear-gradient(top, #373940 0%, #494B52 50%);
  }
  .cover-opacity, .panel-image-opacity {
    position: absolute;
    z-index: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
  }
  .background-cover, .login-page-cover, .login-opacity, .cover-opacity, .panel-image-opacity {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    height: 100%;
  }
  .wpqa-cover-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 100%;
  }
  .wpqa-profile .wpqa-cover-content .user-area.user-advanced, .wpqa-cover-content .cat-cover-left {
    left: 0;
    padding-bottom: 25px;
    width: 50%;
  }
  .wpqa-cover-content .user-cover .post-inner {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .wpqa-cover-content .user-head-area {
    margin-right: 15px;
  }
  .user-advanced .author-image, .follow_email, .send_message_icon, .user_follow {
    display: inline-block;
  }
  .wpqa-cover-content .user-cover .user-head-area .author-image, .wpqa-cover-content .user-cover .user-head-area .author-image-span {
    display: block;
  }
  .wpqa-cover-content .user-content {
    text-align: left;
    overflow: hidden;
  }
  .user-area .user-content>.user-inner h4 {
    margin-bottom: 5px;
  }
  h4 {
    font-size: 22px;
    line-height: 33px;
  }
  .wpqa-cover-content .user-area .user-content>.user-inner .badge-span {
    margin-top: 8px;
    margin-left: 10px;
  }
  .badge-span {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
  }
  .wpqa-cover-content .user-area.user-advanced, .wpqa-cover-content .cat-cover-left, .wpqa-cover-right {
    position: absolute;
    bottom: 0;
  }
  .wpqa-cover-right {
    right: 0;
    padding-bottom: 30px;
  }
  .wpqa-cover-right>div {
    margin-top: 0;
    margin-left: 10px;
  }
  .wpqa-cover-right>div {
    float: right;
  }
  .wpqa-cover-right>div .button-default {
    padding: 7px 8px 6px;
  }
  .wpqa-cover-buttons i, .wpqa-cover-buttons span {
    margin-right: 5px;
    display: inline-block;
  }
  .wpqa-cover-buttons {
    padding: 4px 8px;
  }
  .wpqa-cover-right>div:last-child {
    margin-left: 0;
  }
  a.wpqa-cover-buttons {
    display: block;
  }
  .user-area-head .user-content {
    margin-bottom: 20px;
  }
  .user-area .user-content>.user-inner p, .user-area .bio_editor, .category-description>p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 24px;
  }
  .wpqa-profile .post-section.user-area.user-advanced .user-data {
    margin-bottom: 25px;
  }
  .user-stats, .user-follower {
    overflow: hidden;
    margin: 0 -30px 30px;
    padding: 0 30px 30px;
  }
  .user-stats>ul, .user-follower>ul, .referral-stats>ul {
    list-style: none;
    padding: 0;
  }
  .col3 {
    width: 25%;
  }
  .user-stats>ul>li>div, .referral-stats>ul>li>div {
    padding: 10px;
    position: relative;
  }
  .user-follower>ul>li>div>a, .user-stats>ul>li>div>a {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
  }
  .user-stats>ul>li>div>i, .referral-stats>ul>li>div>i {
    float: left;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .user-stats>ul>li>div>div, .referral-stats>ul>li>div>div {
    overflow: hidden;
    font-size: 12px;
  }
  .user-stats>ul>li>div>div span, .referral-stats>ul>li>div>div span {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
  }
  .user-stats>ul>li>div>div h4, .referral-stats>ul>li>div>div>h4 {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
  }
  .user-answers>div>i, .referral-sent>div>i {
    color: #f05555;
  }
  .user-points>div>i, .referral-pending>div>i {
    color: #ff6935;
  }
  .notifications-number {
    background-color: #f05555;
  }
  .col6 {
    width: 50%;
  }
  .user-follower>ul>li>div {
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  .user-follower>ul>li h4 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .user-follower>ul>li h4 i {
    font-size: 15px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-right: 10px;
  }
  .user-follower>ul>li>div div {
    line-height: 29px;
  }
  .user-follower>ul>li>div img {
    display: block;
    float: left;
    margin-right: 10px;
    height: 29px;
    width: 29px;
  }
  .user-follower>ul>li>div span {
    font-size: 12px;
  }
  .go-to-question_btn {
    transition: border .20s linear, color .20s linear, background-color .20s linear;
    color: #FFF !important;
    background-color: #272930;
    border-radius: 2px;
    font-family: "Roboto", Arial, sans-serif;
    float: right;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 6px;
    letter-spacing: 0.8px;
  }
  .go-to-question_btn:hover {
    background-color: #2d6ff7;
  }
  .user-section-columns .author-image, .author-image-pop-2 .author-image {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .user-section-columns .author-image-span, .author-image-pop-2 .author-image-span {
    height: 68px;
    width: 68px;
  }
  .userdetail-active-tab {
    color: #26333b !important;
  }
  .userdetail-active-tab::before {
    background-color: #26333b !important;
  }
  .user-section-columns .user-area .user-content>.user-inner .user-data-columns, .author-image-pop-2 .user-area .user-content>.user-inner .user-data-columns {
    margin-bottom: 10px;
  }
  .user-area .user-content>.user-inner .user-data-columns .badge-span {
    margin-bottom: 10px;
    margin-left: 0;
  }
  .user-columns-data {
    background-color: #f5f5f5;
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
  }
  .user-columns-data ul {
    padding: 0;
    margin: 0;
  }
  .user-columns-data ul li {
    margin-bottom: 5px;
    list-style: none;
  }
  .user-columns-data a i {
    margin-right: 10px;
  }
  .user-follow-profile {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
  }
  .user_follow_2 {
    margin-bottom: 2px;
  }
  .user_follow_2, .user-follow-profile a {
    display: block;
    float: left;
    letter-spacing: 0.8px;
  }
  .user_follow_loader.small_loader.loader_2 {
    text-align: center;
    height: 20px;
    width: 20px;
    border-width: 3px;
    margin: 4px;
  }
  .user-follow-profile a:last-child {
    float: right;
  }
  .user-follow-profile a {
    padding: 8px 5px;
  }
  .user_follow_2, .user-follow-profile a {
    display: block;
    float: left;
    letter-spacing: 0.8px;
  }
  .featured_image_question, .featured_image_answer {
    margin-top: 20px;
    position: relative;
  }
  .center-child {
    display: flex;
    justify-content: center;
  }
  .txt-transform-none {
    text-transform: none !important;
  }
  .global-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
  .global-loading .loader_span {
    height: 80px;
  }
  .global-loading .loader_2 {
    width: 30px;
    height: 30px;
    animation: fa-spin 1.5s infinite linear;
    border-width: 3px;
  }
  .user-data ul li i {
    margin-right: 5px;
    font-size: 15px;
  }
  ul.user-data-row li {
    font-weight: 400;
    color: #26333b;
  }
  strong, b {
    font-weight: 700;
  }
  .question-detail .question-articles {
    border-bottom: none;
  }
  .question-navigation {
    margin-left: 10px;
  }
  .question-bottom .post-share, .question-navigation {
    float: right;
  }
  .question-navigation a {
    float: right;
    padding: 7px 15px;
    font-weight: 600;
    margin-left: 10px;
  }
  .edit-profile.question-navigation i {
    margin-right: 10px;
  }
  .wpqa-edit-profile .post-title-2 {
    margin-bottom: 15px;
  }
  .page-section .post-title-2>i {
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-weight: normal;
  }
  .wpqa_form .required {
    margin-left: 5px;
  }
  .profile-image.author-image {
    margin-bottom: 10px;
    text-align: center;
  }
  .wpqa_radio_p {
    margin-bottom: 5px;
  }
  .wpqa_radio_div>p {
    margin-bottom: 10px;
    float: left;
    margin-right: 25px;
  }
  .react-datepicker-wrapper {
    margin-top: 3px;
    display: block;
    width: 100%;
  }
  .react-datepicker-popper {
    z-index: 3!important;
  }
  .react-datepicker__triangle {
    left: 150px!important;
  }
  textarea {
    padding-top: 20px;
    resize: none;
  }
  .question-bottom {
    padding-top: 15px;
    margin-top: 30px;
  }
  .question-link-list {
    float: left;
    margin: 0;
    padding: 7px 0 0;
  }
  .commentlist ul.comment-reply li, .question-link-list li {
    float: left;
    padding: 0 15px 0 0;
    margin: 10px 15px 0 0;
    border-right: 1px solid #e4e6e6;
    font-size: 12px;
    line-height: 15px;
    list-style: none;
    font-weight: 600;
  }
  .commentlist ul.comment-reply li:last-child, .commentlist ul.comment-reply li:nth-last-child(2), .question-link-list li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  .commentlist ul.comment-reply li i, .question-link-list li i {
    margin-right: 10px;
  }
  .question-link-list li a i {
    font-size: 10px;
  }
  .wpqa-delete-image>span {
    border: 2px solid #FFF;
    padding: 2px;
    display: inline-block;
  }
  .wpqa-delete-image .wpqa-remove-image {
    margin-bottom: 20px;
  }
  .wpqa-remove-image, .profile-image .loader_4 {
    margin-top: 10px;
  }
  .wpqa-delete-image p.delete-imgae-title {
    margin-bottom: 5px;
    color: #7c7f85;
    font-size: 12px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
  }
  .user-best-answers>div>i, .referral-earned>div>i {
    color: #1fae5b;
  }
  .alert-message.warning, .alert-message.warning p, .alert-message.warning i, .alert-message.warning a:hover {
    color: #ebc035;
  }
  .alert-message.warning {
    background-color: #fffcdd;
  }
  .alert-message {
    position: relative;
    display: block;
    background-color: #d8f6fe;
    color: #3bb5d8;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 20px;
    text-align: left;
  }
  .alert-message i {
    margin: 1px 10px 0 0;
    float: left;
    font-size: 17px;
    font-weight: normal;
    color: #3bb5d8;
  }
  .alert-message p {
    overflow: hidden;
  }
  .user-notifications>div:before, .comment-share.question-share .post-share>ul:before {
    right: 23px;
  }
  .notifications-number {
    position: absolute;
    height: 15px;
    line-height: 13px;
    width: 15px;
    font-size: 12px;
    text-align: center;
    top: -10px;
    right: -10px;
  }
  .user-notifications>div>a {
    font-size: 13px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 10px;
  }